html {
  font-feature-settings: 'onum' 1 !important;
  hyphens: auto !important;
}
body {
  --docs-material-font-family: "Fira Sans" !important;
}
@font-face {
  font-family: "Arial";
  src: local("Fira Sans");
}
@font-face {
  font-family: arial;
  src: local("Fira Sans") !important;
}
@font-face {
  font-family: "Arial Narrow";
  src: local("Fira Sans Condensed");
}
@font-face {
  font-family: "Verdana";
  src: local("Fira Sans");
}
@font-face {
  font-family: "Trebuchet MS";
  src: local("Lucida Grande");
}
@font-face {
  font-family: "Helvetica";
  src: local("Lucida Grande");
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Avenir Next");
}
@font-face {
  font-family: "Roboto";
  src: local("Fira Sans");
}
@font-face {
  font-family: "Google Sans";
  src: local("Fira Sans");
}
@font-face {
  font-family: "Menlo";
  src: local("Fira Mono");
}
@font-face {
  font-family: "Monaco";
  src: local("Fira Mono");
}
@font-face {
  font-family: "BlinkMacSystemFont";
  src: local("Lucida Grande");
}
@font-face {
  font-family: "-apple-system";
  src: local("Lucida Grande");
}
@font-face {
  font-family: "Tahoma";
  src: local("Lucida Grande");
}
@font-face {
  font-family: "serif";
  src: local("Minion Pro")
}
@font-face {
  font-family: "Times New Roman";
  src: local("Minion Pro");
}
@font-face {
  font-family: "Georgia";
  src: local("Minion Pro");
}
@font-face {
  font-family: "Palatino";
  src: local("Minion Pro");
}
@font-face {
  font-family: "Hoefler Text";
  src: local("Adobe Garamond Pro");
}
@font-face {
  font-family: "Times";
  src: local("Minion Pro");
}

@-moz-document domain("play.google.com") {
  body {
    font-family: "Fira Sans";
  }
}

@-moz-document domain("m.wikipedia.org") {
  body {
    font-family: "Minion Pro";
    hyphens: auto;
  }
  @media all {
    html {
      font-size: 24px;
    }
  }
  @media all and (max-width: 1000px) {
    html {
      font-size: 24px;
    }
  }
  @media all and (max-width: 960px) {
    html {
      font-size: 23px;
    }
  }
  @media all and (max-width: 920px) {
    html {
      font-size: 22px;
    }
  }
  @media all and (max-width: 880px) {
    html {
      font-size: 21px;
    }
  }
  @media all and (max-width: 840px) {
    html {
      font-size: 20px;
    }
  }
  @media all and (max-width: 800px) {
    html {
      font-size: 19px;
    }
  }
  @media all and (max-width: 760px) {
    html {
      font-size: 18px;
    }
  }
  @media all and (max-width: 720px) {
    html {
      font-size: 17px;
    }
  }
  @media all and (max-width: 680px) {
    html {
      font-size: 16px;
    }
  }
  @media all and (max-width: 640px) {
    html {
      font-size: 15px;
    }
  }
  @media all and (max-width: 600px) {
    html {
      font-size: 14px;
    }
  }
  @media all and (max-width: 560px) {
    html {
      font-size: 13px;
    }
  }
  @media all and (max-width: 520px) {
    html {
      font-size: 12px;
    }
  }
  @media all and (max-width: 520px) {
    html {
      font-size: 18px;
    }
  }
  * {
    margin: 0;
    padding: 0;
  }
  html {
    height: 100%;
  }
  body {
    padding: 0rem 0em 0rem 0em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    min-height: 100%;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern' 1;
    font-feature-settings: 'liga' 1;
    font-feature-settings: 'pnum' 1;
    font-feature-settings: 'onum' 1;
    border-top: 0px solid black;
    border-bottom: 0px solid black;
    position: relative;
    z-index: -10000;
  }
  body > * {
    font-size: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  .content p {
    margin: 0;
    margin-bottom: 1rem;
  }
}
