html {
  font-feature-settings: 'onum' 1 !important;
  hyphens: auto !important;
}
body {
  --docs-material-font-family: "Fira Sans" !important;
}
@font-face {
  font-family: "Arial";
  src: local("Fira Sans");
}
@font-face {
  font-family: arial;
  src: local("Fira Sans") !important;
}
@font-face {
  font-family: "Arial Narrow";
  src: local("Fira Sans Condensed");
}
@font-face {
  font-family: "Verdana";
  src: local("Fira Sans");
}
@font-face {
  font-family: "Trebuchet MS";
  src: local("Lucida Grande");
}
@font-face {
  font-family: "Helvetica";
  src: local("Lucida Grande");
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Avenir Next");
}
@font-face {
  font-family: "Roboto";
  src: local("Fira Sans");
}
@font-face {
  font-family: "Google Sans";
  src: local("Fira Sans");
}
@font-face {
  font-family: "Menlo";
  src: local("Fira Mono");
}
@font-face {
  font-family: "Monaco";
  src: local("Fira Mono");
}
@font-face {
  font-family: "BlinkMacSystemFont";
  src: local("Lucida Grande");
}
@font-face {
  font-family: "-apple-system";
  src: local("Lucida Grande");
}
@font-face {
  font-family: "Tahoma";
  src: local("Lucida Grande");
}
@font-face {
  font-family: "serif";
  src: local("Minion Pro")
}
@font-face {
  font-family: "Times New Roman";
  src: local("Minion Pro");
}
@font-face {
  font-family: "Georgia";
  src: local("Minion Pro");
}
@font-face {
  font-family: "Palatino";
  src: local("Minion Pro");
}
@font-face {
  font-family: "Hoefler Text";
  src: local("Adobe Garamond Pro");
}
@font-face {
  font-family: "Times";
  src: local("Minion Pro");
}

@-moz-document domain("play.google.com") {
  body {
    font-family: "Fira Sans";
  }
}

