html {
    font-feature-settings: 'kern' 1;
    font-feature-settings: 'liga' 1;
    font-feature-settings: 'pnum' 1;
    font-feature-settings: 'onum' 1;
    hyphens: auto !important;
}
body {
    --docs-material-font-family: "Fira Sans" !important;
}
@font-face {
    font-family: "Arial";
    src: local("Fira Sans");
}
@font-face {
    font-family: arial;
    src: local("Fira Sans") !important;
}
@font-face {
    font-family: "Arial Narrow";
    src: local("Fira Sans Condensed");
}
@font-face {
    font-family: "Verdana";
    src: local("Fira Sans");
}
@font-face {
    font-family: "Trebuchet MS";
    src: local("Lucida Grande");
}
@font-face {
    font-family: "Helvetica";
    src: local("Lucida Grande");
}
@font-face {
    font-family: "Helvetica Neue";
    src: local("Avenir Next");
}
@font-face {
    font-family: "Roboto";
    src: local("Fira Sans");
}
@font-face {
    font-family: "Google Sans";
    src: local("Fira Sans");
}
@font-face {
    font-family: "Menlo";
    src: local("Fira Mono");
}
@font-face {
    font-family: "Monaco";
    src: local("Fira Mono");
}
@font-face {
    font-family: "BlinkMacSystemFont";
    src: local("Lucida Grande");
}
@font-face {
    font-family: "-apple-system";
    src: local("Lucida Grande");
}
@font-face {
    font-family: "Tahoma";
    src: local("Lucida Grande");
}
@font-face {
    font-family: "serif";
    src: local("Minion Pro")
}
@font-face {
    font-family: "Times New Roman";
    src: local("Minion Pro");
}
@font-face {
    font-family: "Georgia";
    src: local("Minion Pro");
}
@font-face {
    font-family: "Palatino";
    src: local("Minion Pro");
}
@font-face {
    font-family: "Hoefler Text";
    src: local("Adobe Garamond Pro");
}
@font-face {
    font-family: "Times";
    src: local("Minion Pro");
}

@-moz-document domain("play.google.com") {
body {
    font-family: "Fira Sans";
}
}

@-moz-document domain("en.wikipedia.org") {
#footer {
    margin-left: 2.5rem;
    margin-right: 11.5rem;
}
/* */
/* Type */
/* */

/* Line height of 1.4 */
.mw-body-content {
    font-size: 1rem;
    line-height: 1.4rem;
}

/* Use Minion Pro, hyphenate, and use a white background */
body {
    font-family: "Minion Pro";
    hyphens: auto;
    background: #ffffff;
}

/* Space between paragraphs */
p {
    margin-bottom: 1rem;
}

.mw-body-content p {
    margin: 0;
    margin-bottom: 1rem;
}

/* */
/* Media queries and magic layout stuff */
/* */

/* Decide what size to use based on the window's width */
@media all { html { font-size: 24px; } }
@media all and (max-width: 1000px) { html { font-size: 24px; } }
@media all and (max-width: 960px) { html { font-size: 23px; } }
@media all and (max-width: 920px) { html { font-size: 22px; } }
@media all and (max-width: 880px) { html { font-size: 21px; } }
@media all and (max-width: 840px) { html { font-size: 20px; } }
@media all and (max-width: 800px) { html { font-size: 19px; } }
@media all and (max-width: 760px) { html { font-size: 18px; } }
@media all and (max-width: 720px) { html { font-size: 17px; } }
@media all and (max-width: 680px) { html { font-size: 16px; } }
@media all and (max-width: 640px) { html { font-size: 15px; } }
@media all and (max-width: 600px) { html { font-size: 14px; } }
@media all and (max-width: 560px) { html { font-size: 13px; } }
@media all and (max-width: 520px) { html { font-size: 12px; } }

* {
    margin: 0;
    padding: 0;
}

.mw-body {
    border: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mw-body-content {
    padding: 0;
}

html {
    height: 100%;
}

/* Very basic type and layout settings */
body {
    padding: 0rem 0em 0rem 0em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    min-height: 100%;
    text-rendering: optimizeLegibility;
    font-size: 100%;
    font-feature-settings: 'kern' 1;
    font-feature-settings: 'liga' 1;
    font-feature-settings: 'pnum' 1;
    font-feature-settings: 'onum' 1;
    border-top: 0px;
    border-bottom: 0px;
    position: relative;
    z-index: -10000;
}

/* Margins on the left and right */
.mw-body-content > * {
    margin-left: 2.5rem;
    margin-right: 11.5rem;
}

/* Also move the title of the page to fit the margins */
.firstHeading {
    margin-left: 2.5rem;
    margin-right: 11.5rem;
    margin-top: 2rem;
}


/* */
/* Headings and Title */
/* */

/* Large title */
h1 {
    font-size: 2rem;
}

/* SC A-head */
.mw-body-content h2 {
    font-size: 1.2rem;
    font-feature-settings: "smcp";
    text-transform: lowercase;
    letter-spacing: 0.08em;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* Italic B-head */
.mw-body-content h3 {
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
}

/* Global heading settings */
h1, h2, h3, h4, h5, h6 {
    color: #000;
    background: none;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding-top: 0em;
    padding-bottom: 0em;
    border-bottom: 0px
}

/* Hide 'edit' button */
.mw-editsection {
    display: none;
}


/* */
/* TOC */
/* */

/* TOC box settings */
.toc {
    margin: auto;
    background-color: #ffffff;
    border: 0px;
}

/* Remove underline from TOC links */
.toctext, .tocnumber {
    background: #ffffff;
}

/* TOC title settings */
.mw-body-content .toc .toctitle h2 {
    font: inherit;
}

/* Hide TOC hide button */
.toctogglespan {
    display: none;
}


/* */
/* Links */
/* */

/* Don't colour already-visited links */
a:link, a:visited {
    color: inherit;
}

/* Better links with nice clever underline */
a:link {
    text-decoration: none;
    background: -webkit-linear-gradient(#ffffff, #ffffff), -webkit-linear-gradient(#ffffff, #ffffff), -webkit-linear-gradient(#333, #333);
    background: linear-gradient(#ffffff, #ffffff), linear-gradient(#ffffff, #ffffff), linear-gradient(#333, #333);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 #ffffff, -0.03em 0 #ffffff, 0 0.03em #ffffff, 0 -0.03em #ffffff, 0.06em 0 #ffffff, -0.06em 0 #ffffff, 0.09em 0 #ffffff, -0.09em 0 #ffffff, 0.12em 0 #ffffff, -0.12em 0 #ffffff, 0.15em 0 #ffffff, -0.15em 0 #ffffff;
    background-position: 0% 93%, 100% 93%, 0% 93%;
    color: inherit;
}


/* */
/* Images */
/* */

/* Remove ugly background and border */
div.thumbinner {
    border: 0px;
    background: inherit;
}

/* Caption font*/
html .thumbcaption {
    font-style: italic;
    font-size: 0.8rem;
    line-height: 1.5em;
    margin-top: 0.75em;
}

/* Move images into margin */
div.thumb.tright, div.thumb.tleft {
    display: block;
    float: right;
    position: absolute;
    margin-right: 0;
    right: 3.75rem;
    width: 7rem;
    text-align: right;
    list-style-type: none;
    clear: both;
    margin-bottom: 1rem;
}


/* */
/* Page previews */
/* */

/* Position page previews correctly (margin-left is either -12 or -3.5) */
.mwe-popups {
    margin-left: -12rem;
    margin-top: -2rem;
}

/* Hide the fact that page previews are actually links */
.mwe-popups-extract {
    background: #ffffff !important;
}


/* */
/* Infobox */
/* */

/* Remove ugly border and background */
.infobox {
    border: 0;
    background-color: #ffffff;
}

/* Center */
.infobox {
    float: none;
    clear: none;
    margin: auto;
}

/* Pad the infobox */
.infobox {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Span the width of the textblock */
.infobox {
    width: 100% !important;
}

/* Make the infobox's first column wider */
.infobox > tbody > tr > th {
    width: 8rem !important;
}


/* */
/* Wikipedia oddities */
/* */

/* Hide inline citations */
.reference {
    display: none;
}

/* Hide page indicators */
.mw-indicators {
    display: none;
}

/* Hide cruft at bottom of the page */
.navbox, .catlinks {
    display: none;
}

/* Hide navigation */
#mw-panel, #mw-head, .noprint {
    display: none;
}

/* Disable hyphenation in tables */
th, td {
    hyphens: none;
}

/* Make hatnote less intrusive */
div.hatnote {
    font-size: 94%;
    padding-left: 0;
}

/* Normal list icons */
ul, ol {
    list-style-image: initial;
}

}
