/* */
/* OpenType features */
/* */

html {
  -webkit-font-feature-settings:
    "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
     -moz-font-feature-settings:
    "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
      -ms-font-feature-settings:
    "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
          font-feature-settings:
    "calt" 1, "kern" 1, "liga" 1, "onum" 1, "pnum" 1,
    "tnum" 0, "lnum" 0, "dlig" 0;
}


/* */
/* Font substitutions */
/* */

@font-face {
  font-family: "Arial";
  src: local("Fira Sans") !important;
}
@font-face {
  font-family: arial;
  src: local("Fira Sans") !important;
}
@font-face {
  font-family: "Arial Narrow";
  src: local("Fira Sans") !important;
}
@font-face {
  font-family: "Verdana";
  src: local("Fira Sans") !important;
}

