
snippet shb
#!/usr/bin/env bash

$0

endsnippet

snippet lvl1
# $1 {{{1
# =============================================================================

$0

# }}}1
# =============================================================================
endsnippet

snippet lvl2
# $1 {{{2
# -----------------------------------------------------------------------------

$0

# }}}2
# -----------------------------------------------------------------------------
endsnippet

